.bookmarks ul {
    display: inline-block;
    border: 1px solid #015249;
    padding: 0;
    width: 100%;
}
@media (max-width: 767px) {
  
}
@media (min-width: 480px) and (max-width: 767px) {

}
.bookmarks ul li {
    display: inline-block;
    cursor: pointer;
    padding: 8% 6%;
    border-bottom: 1px solid #015249;
    background: #ffffff;
	height: 130px;
}
.bookmarks ul li:last-child {
    border-bottom: 0;
}
@media (max-width: 767px) {
	
}
.bookmarks ul li.active {
    background-image: linear-gradient(to right, #11abb0, #26b1a9, #3cb6a0, #52ba97, #67be8d);
    color: #ffffff;
    border-color: transparent;
}
.bookmarks ul li.active h4,.bookmarks ul li.active h6 {
	color: #ffffff;
}
@media (max-width: 767px) {
  .bookmarks ul li.active {
    display: block;
  }
}

@media (max-width: 767px) {

}
.owlExample .item p {
  margin: 0;
  font-family: 'Arial';
  font-size: 50px;
  color: #fff;
  text-align: right;
}
.owlExample .owl-controls {
  position: absolute;
  top: 60px;
  width: 100%;
}
@media (max-width: 767px) {
  .owlExample .owl-controls {
    top: -90px;
  }
}
.owlExample .owl-controls .owl-nav div {
  position: absolute;
  font-family: 'Arial';
  font-size: 30px;
  letter-spacing: .5px;
  text-transform: uppercase;
  transition: all .4s linear;
}
@media (max-width: 767px) {
  .owlExample .owl-controls .owl-nav div {
    font-size: 16px;
  }
}
.owlExample .owl-controls .owl-nav div:hover {
  letter-spacing: 2px;
  color: #ff1053;
}
.owlExample .owl-controls .owl-nav div.owl-prev {
  left: 50px;
}
@media (max-width: 767px) {
  .owlExample .owl-controls .owl-nav div.owl-prev {
    left: 20px;
  }
}
.owlExample .owl-controls .owl-nav div.owl-next {
  right: 50px;
}
@media (max-width: 767px) {
  .owlExample .owl-controls .owl-nav div.owl-next {
    right: 20px;
  }
}
