/node_modules
/public/hot
/public/storage
/public/csv
/public/csv_file
/public/merchant_files
/public/product_import_files
/public/user_profile_files
/public/category_files
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log