.breadcrumb{
  background: transparent;
  padding: 0;
  .page-hero &{
    .breadcrumb-item{
      a{
        color: #fff;
      }
      &.active{
        color: rgba(#fff, .5);
      }
      &:before{
        color: #fff;
      }
    }
  }
}

