/*------------   Responsive CSS ------------*/
@media (min-width: 768px){
	button.sh_menu_btn {
		display: none;
	}
	#sh_filter_menu{
		display: none;
	}
	.sh_menu_icon_box{
		display: none;
	}
	
}
@media (min-width: 767px){
	.sh_main_menu ul li a:hover,
	.sh_main_menu ul li a.active {
		color: #015249;
	}
	.sh_main_menu ul li a:before,
	.sh_main_menu ul li a.active:before {
		content: "";
		position: absolute;
		height: 1px;
		width: 0%;
		margin: auto;
		background: #015249;
		bottom: 18px;
		left: 0;
		right: 0;
	}
	
/*new css*/
	.mengamenu ul li a:before{
		bottom: 0;
	}

	.list_colmn_container h5 a:before,		
	.list_colmn_container h5 a.active:before {		
		top: 35px;		
	}
/*new css*/
	
	.sh_main_menu ul li a:hover:before,
	.sh_main_menu ul li a.active:before {
		width: 100%;
	}
	.sh_main_menu ul li a.active:before,
	.sh_main_menu ul li a:before,
	.sh_main_menu ul li a.active:hover:before,
	.sh_main_menu ul li a:hover:before {
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
}

@media (max-width:991px){
	.sh_top_category_section img {
		width: 100%;
	}
	.menu ul li a {
		padding: 8px;
	}
	.owlExample .item {
		height: auto;
	}
	.bookmarks ul li {
		font-size: 12px;
		height: 110px;
	}
	.nav_text h4 {
		font-size: 14px;
	}
	.sh_search_filter li select {
		margin-top: 15px;
	}
	.sh_sidecat_heading {
		font-size: 16px;
	}
	.sh_side_widget {
		font-size: 12px;
	}
	.sh_product_features li {
		font-size: 11px;
	}
	.sh_rated_product_sec {
		margin-bottom: 30px;
	}
}
@media (min-width:992px) and (max-width:1199PX){
	.sh_custom_width {
		width: 25%;
	}
}

@media (min-width:768px) and (max-width:991px){
	.sh_main_menu ul li {
		margin-right: 12px;
		font-size: 12px;
	}
	.sh_list_product_price_wrap .sh_btn {
		padding: 10px 15px;
		font-size: 12px;
	}
	.sh_custom_width {
		width: 33.33%;
	}
}

@media (max-width:767px){
	body {
		font-size: 14px;
	}
	.sh_menu_icon_box{
		display: block;
	}
	#sh_filter_menu{
		display: block;
	}
	#sh_filter_menu_wrapper{
		display:none;
	}
	a#sh_filter_menu {
		background: #111111;
		display: inline-block;
		color: #ffffff;
		padding: 6px 30px;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 15px;
		cursor: pointer;
	}
	
	.sh_menu_btn {
		float: none;
		border: none;
		width: 32px;
		height: 32px;
		color: #ffffff;
		background-color: #015249;
		cursor: pointer;
		text-align: center;
		margin-top: 20px;
	}
	.sh_main_menu_wrapper {
		z-index: 9999999;
		overflow-y: scroll;
		position: fixed;
		left: 0px;
		top: 0px;
		bottom: 0px;
		background-color: #015249;
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	.sh_main_menu_wrapper {
		width: 60%;
	}
	.sh_main_menu_wrapper.sh_main_menu_hide {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	.sh_main_menu ul {
		width: 100%;
		margin: 0;
	}
	.sh_main_menu ul li {
		width: 100%;
	}
	.sh_main_menu ul li a {
		padding: 10px;
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		width: 100%;
	}
	.sh_header_social_links {
		text-align: left;
	}
	.sh_header_social_links > ul {
		display: inline-block;
	}
	.menu_icon {
		float: right;
	}
	.sh_Search_bar input {
		width: 45%;
	}
	.sh_copyright_section {
		text-align: center;
	}
	.sh_copyright_section p {
		padding-top: 16px;
		font-size: 10px;
	}
	.nav_text h4 {
		font-size: 12px;
		margin-bottom: 0;
	}
	.bookmarks ul li {
		font-size: 10px;
		height: auto;
		padding: 4% 5%;
		width: 100%;
	}
	.nav_text h6 {
		margin-bottom: 0;
		font-size: 8px;
	}
	.sh_search_filter {
		text-align: left;
		margin-top: 20px;
	}
	.sh_search_filter span {
		vertical-align: middle;
	}
	.sh_list_product_price_wrap {
		border-left: 0;
		padding-left: 0;
	}
	.sh_product_list_product .sh_list_product_img {
		margin-bottom: 30px;
	}
	.sh_product_view_store {
		margin-top: 30px;
	}
	.sh_logo_wrap {
		text-align: left;
		width: 50%;
		float: left;
	}
	.sh_menu_icon_box {
		width: 50%;
		float: left;
	}
	.lodind_img img {
		width: 16%;
	}
	.sh_Search_bar input {
		height: 30px;
	}
	#search_category + .select2-container {
		width: calc(56% - 70px) !important;
	}
	
	#search_category + .select2-container--default .select2-selection--single {
		min-height: 30px !important;
		line-height: 30px !important;
		height: 30px;
	}
	.select2-container .select2-selection--single {
		height: 30px;
	}
	#search_category + .select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 30px !important;
	}
	#search_category + .select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 30px !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		top: 0;
		right: 4px;
	}
	.sh_Search_bar button {
		width: 70px;
		font-size: 12px;
	}
	.select2-container--default .select2-results>.select2-results__options {
		font-size: 12px;
	}
	.sh_less_price_store img {
		width: 25%;
	}
	.sh_grid_product_section.sh_float_width .grid_prd {
		height: 75px!important;
	}
	.sh_prod_name {
		-webkit-line-clamp: 1;
		height: 18px;
	}
	.best_price_store {
		width: 60%;
	}
	.sh_product_view_name h3 {
		font-size: 10px;
		text-transform: capitalize;
		line-height: 1.5;
	}
	.sh_product_view_name h6 {
		font-size: 12px;
	}
	.sh_product_view_rating {
		font-size: 12px;
	}
	.select2-container .select2-selection--single {
		height: 30px;
	}
	
	
	
	.sh_header_wrap nav li.dropdown ul.dropdown-menu.second_ul.dropdown-content {
		display: none !important;
		position: unset;
	}
	.sh_header_wrap nav li.dropdown.open ul.dropdown-menu.second_ul.dropdown-content {
		display: block !important;
		padding-left: 10px;
		word-break: break-all;
	}
	div#main_menu_header .sh_main_menu ul li.dropdown.open > a span {
		transform: rotate(90deg);
	}
	div#main_menu_header .sh_main_menu ul li.dropdown> a span {
		transform: rotate(0deg);
	}
	div#main_menu_header .sh_main_menu ul li.dropdown:hover > a span {
		transform: unset;
	}
	div#main_menu_header ul.dropdown-menu.second_ul.dropdown-content li a {
		border: none !important;
	}
	
	
}
@media (min-width:480px) and (max-width:767px){
	.sh_top_category_section {
		float: none;
		width: 65%;
		margin: auto;
		margin-bottom: 30px;
	}
	.sh_custom_width {
		width: 50%;
	}
	.slider-nav__item.slick-slide img {
		height: 100px;
	}
	.sh_less_price_store img {
		width: 30%;
	}
	
}
@media (max-width:512px){
	.sh_product_view_name h3 {
		font-size: 8px;
	}
}

@media (max-width: 479px){
	.sh_product_view_name h3 {
		font-size: 6px;
	}
	.sh_Search_bar button {
		width: 55px;
	}
	.sh_Search_bar {
		font-size: 10px;
	}
	.sh_heading h2 {
		font-size: 24px;
		line-height: 1.2;
	}
	.col-xs-4.padder_right {
		padding: 0 15px;
		width: 100%;
		margin-bottom: 30px;
	}
	.col-xs-8.padder_left {
		padding: 0 15px;
		width: 100%;
		margin-bottom: 30px;
	}
	.sh_custom_width {
		width: 50%;
	}
	.slider-nav__item.slick-slide img {
		height: 80px;
	}
	.sh_less_price_store img {
		width: 30%;
	}
	.best_price_store {
		width: 98%;
	}
	.sh_store_price {
		font-size: 14px;
	}
	.sh_compare_price a.sh_shop_btn {
		padding: 4px;
		font-size: 10px;
	}
	.sh_compare_price {
		padding: 12px;
	}
	#search_category + .select2-container {
		width: calc(60% - 70px) !important;
	}
}
@media (max-width:440px){
	.sh_product_view_name h6 {
		font-size: 10px;
	}
	.sh_product_view_rating {
		font-size: 10px;
	}
	.sh_product_view_rating span.fa {
		font-size: 6px;
	}
}


@media (max-width:359px){

	#search_category + .select2-container {
		width: calc(56% - 56px) !important;
	}
	.sh_less_price_store img {
		width: 40%;
	}
	.sh_product_review ul li {
		font-size: 5px;
	}
	
}


@media (max-width:767.99px){

	/* Menu Controls */
	.menu-button {
		color:#fff;
		cursor:pointer;
		font-size:2rem;
		padding:.75rem 1.55rem;
		position:fixed;
		right:0;
	}
	.open-menu {
		color:#fff;
		cursor:pointer;
		font-size:1rem;
		padding:1rem;
		position:absolute;
		right:0;
		top:0;
		transition:transform 250ms ease;
	}
	.rotate { transform:rotate(135deg); }

	/* Generated Overflow Element */
	.overflow {
		margin-top:57px;
		overflow-x:hidden;
		overflow-y:auto;
	}

	/* Menu Styles */
	#mobile-nav {
		background-color:#60babb;
		position:fixed;
		width:100%;
		z-index:1;
	}
	#mobile-nav ul {
		background-color:rgba(0,0,0,.1);
		display:none;
		margin:0 1rem;
		padding:0;
		position:relative;
	}
	#mobile-nav ul:first-child {
		background-color:transparent;
	}
	#mobile-nav ul li {
		border-top:1px solid rgba(255,255,255,.075);
		list-style:none;
		margin-bottom:0;
		position:relative;
	}
	#mobile-nav ul li a {
		color:#fff;
		display:inline-block;
		font-size:1rem;
		padding:1rem 0;
		text-decoration:none;
		width:100%;
	}
	#mobile-nav ul ul {
		margin:0;
	}
	#mobile-nav ul ul li {
		border-top:none;
		padding-left:1rem;
	}
	
}
