@charset "UTF-8";
/*!
*  TravelGo - Travel and Tours listings HTML template
*  Version: 1.0.0.
*  Author: RexQ (@vueghost)
*  © 2018 RexQ - Vueghost.
*  Licensed: Under ThemeForest License.
*
*  .......................................................................................
*
*  There is more Awesome projects coming soon make sure you follow us to
*  know more about our new projects and updates.
*
*  FOLLOW US:
*  Themeforest: https://themeforest.net/user/rex_q
*  Twitter: https://twitter.com/vueghost
*  Facebook: https://www.facebook.com/Vueghost-113597132644224/
*  PassBy: https://passbyapp.com/@rex_q
*
* ::::::::::::::::::::::::::::::[  TABLE OF CONTENTS  ]::::::::::::::::::::::::::::::::::
*
*  01. GENERAL
*  02. BUTTONS
*  03. HEADER
*  04. MAIN HOME SEARCH
*  05. PAGE HERO
*  06. SECTION
*  07. LISTING CARDS
*  08. WIDGET
*  09. ICHECK
*  10. MODAL
*  11. BREADCRUMB
*  12. BLOG
*  13. BOOKING HISTORY
*  14. HOTEL
*  15. LOGIN FORM
*  16. USER  PROFILE
*  17. REVIEW
*  18. FAQ
*  19. FOOTER
*/
/********************************************************/
/*                        GENERAL                       *
/********************************************************/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body {
	background: #fff;
	padding-top: 64px;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}

.brand-logo {
	height: 35px;
}

a {
	color: #00A1F3;
}

.flag-icon {
	border-radius: 50%;
}

/*** pagination ***/
.pagination {
	border: none;
}

.pagination .page-item {
	margin: 2px;
	border-radius: 30px;
}

.pagination .page-item a {
	outline: none;
	color: #DB2630;
	border-radius: 30px;
	min-width: 30px;
	height: 30px;
}

.pagination .page-item a:nth-child(1) {
	border-radius: 30px;
	border: none;
}

.pagination .page-item a:hover {
	background: #DB2630;
	color: #fff;
}

.pagination .page-item.active a {
	background: #DB2630;
}

/*** Typography ***/
p {
	font-size: 16px;
	color: #70707a;
}

h1, h2, h3, h4 {
	color: #484848;
	margin: 0;
	padding: 0;
	font-weight: 600;
}

h1 {
	font-size: 48px;
	font-weight: 700;
}

h2 {
	font-size: 40px;
	font-weight: 700;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 24px;
}

.hint-text {
	font-size: 12px;
	color: #999;
}

.flex-1 {
	flex: 1;
}

/*** Container ***/
.container {
	max-width: 1190px;
}

.container.md {
	max-width: 1150px;
}

main {
	position: relative;
	min-height: 300px;
}

.form-control {
	border: 1px solid #ddd;
	border-radius: 2px;
}

.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

.row.gutters-1 {
	margin-right: 1px;
	margin-left: 1px;
}

.row.gutters-1 > [class^="col-"], .row.gutters-1 > [class*=" col-"] {
	padding-right: 1px;
	padding-left: 1px;
}

.row.gutters-2 {
	margin-right: 2px;
	margin-left: 2px;
}

.row.gutters-2 > [class^="col-"], .row.gutters-2 > [class*=" col-"] {
	padding-right: 2px;
	padding-left: 2px;
}

/*** UL Menu List ***/
.menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*** HR Line ***/
hr {
	height: 1px;
	width: 100%;
	display: block;
	background: #EBEDED;
	border: 0;
	outline: 0;
	position: relative;
}

hr:after {
	content: attr(data-title);
	padding: 8px;
	left: 50%;
	text-align: center;
	transform: translateY(-50%) translateX(-50%);
	top: 50%;
	text-transform: capitalize;
	background: #fff;
	position: absolute;
}

.sticky-parent {
	position: relative;
	display: block;
}

/*** Flat icon ***/
.small-icon:before, .small-icon:before,
.small-icon:after, .small-icon:after {
	font-size: 18px;
}

.x-small-icon:before, .x-small-icon:before,
.x-small-icon:after, .x-small-icon:after {
	font-size: 12px;
}

.lg-icon:before, .lg-icon:before,
.lg-:after, .lg-icon:after {
	font-size: 30px;
}

.img-square {
	position: relative;
	overflow: hidden;
	padding-bottom: 100%;
	background: red;
}

.img-square img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-position: center;
	object-fit: cover;
}

.wp-bw {
	word-wrap: break-word;
}

/*** OWl ***/
.owl-carousel {
	position: relative;
}

.owl-carousel .owl-nav {
	position: absolute;
	top: 28%;
	width: 100%;
	transform: translateY(-150%);
}

.owl-carousel .owl-nav .owl-next {
	right: -30px;
}

.owl-carousel .owl-nav .owl-prev {
	left: -30px;
}

.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	outline: none;
	box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px;
	background: #fff !important;
}

.owl-carousel .owl-nav .owl-next span, .owl-carousel .owl-nav .owl-prev span {
	font-size: 52px;
	line-height: 0;
	font-weight: 200;
}

.owl-carousel .owl-nav .owl-next.disabled, .owl-carousel .owl-nav .owl-prev.disabled {
	visibility: hidden;
}

/** Success Animation ***/
@keyframes scaleAnimation {
	0% {
		opacity: 0;
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes drawCircle {
	0% {
		stroke-dashoffset: 151px;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes drawCheck {
	0% {
		stroke-dashoffset: 36px;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#successAnimationCircle {
	stroke-dasharray: 151px 151px;
	stroke: forestgreen;
}

#successAnimationCheck {
	stroke-dasharray: 36px 36px;
	stroke: forestgreen;
}

#successAnimationResult {
	fill: forestgreen;
	opacity: 0;
}

#successAnimation.animated {
	animation: 1s ease-out 0s 1 both scaleAnimation;
}

#successAnimation.animated #successAnimationCircle {
	animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
}

#successAnimation.animated #successAnimationCheck {
	animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
}

#successAnimation.animated #successAnimationResult {
	animation: 0.3s linear 0.9s both fadeIn;
}

/*** countdown **/
.countdown {
	display: inline-flex;
	padding: 5px;
	align-items: center;
}

.countdown .v {
	font-size: 45px;
	text-align: center;
}

.countdown .v span {
	display: block;
	font-size: 12px;
	color: #888;
	text-align: center;
	text-transform: uppercase;
}

.countdown .s {
	margin: 8px;
}

/********************************************************/
/*                        BUTTONS                       *
/********************************************************/
.btn {
	border-radius: 30px;
	font-size: 15px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.btn.no-round {
	border-radius: 0;
}

.btn.round-1 {
	border-radius: 4px;
}

.btn.btn-default {
	background: #fff;
	color: #1b1e21;
}

.btn.btn-shadow {
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.14);
}

.btn.btn-primary {
	background: #FFBB00;
	border-color: #FFBB00;
	color: #fff;
	font-size: 16px -2;
	text-transform: capitalize;
}

.btn.btn-book-now {
	background: #DB2630;
	border-radius: 4px;
	color: #fff;
}

/********************************************************/
/*                        HEADER                        *
/********************************************************/
header {
	/*** Navbar **/
}

header .navbar {
	background: #fff;
	min-height: 64px;
	color: #70707a;
	transition: all 300ms linear;
	border-bottom: 1px solid #EBEDED;
}

header .navbar.sticky {
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

header .navbar .user-profile-img {
	width: 32px;
	height: 32px;
	position: absolute;
	object-position: center;
	object-fit: cover;
	border-radius: 50%;
	transform: translateY(-7px);
}

header .navbar .nav-item .nav-link {
	color: #484848;
}

header .navbar .nav-item .dropdown-menu {
	border: none;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	border-radius: 0px;
}

header .navbar .nav-item .dropdown-menu .dropdown-item {
	font-size: 14px;
}

/********************************************************/
/*                    MAIN HOME SEARCH                  *
/********************************************************/
.main-home-search {
	width: 100%;
	max-width: 600px;
	height: 58px;
	position: relative;
	margin-top: 16px;
	background: #fff;
	border-radius: 4px;
	transition: all ease 250ms;
	border: 1px solid #EBEDED;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.9);
	align-items: center;
	display: flex;
}

.main-home-search.active {
	max-width: 800px;
}

.main-home-search .search-icon {
	margin-left: 16px;
}

.main-home-search .search-icon i {
	color: rgba(112, 112, 122, 0.6);
	font-size: 25px;
}

.main-home-search .search-input {
	background: transparent;
	border: 0;
	width: 100%;
	outline: none;
	height: 48px;
	margin: 5px 16px;
	font-weight: 400;
	font-size: 16px;
}

.main-home-search .search-result-drop-down {
	width: calc(100% + 2px);
	min-height: 280px;
	background: #fff;
	position: absolute;
	top: 54px;
	left: -1px;
	border-radius: 0 0 4px 4px;
	box-shadow: rgba(26, 26, 29, 0.3) 0 15px 46px -10px;
	border: 1px solid #EBEDED;
	z-index: 1000;
	display: none;
}

.main-home-search .search-result-drop-down.show {
	display: block;
}

.main-home-search .search-result-drop-down .result-list .search-result-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 8px 16px;
	text-shadow: none;
	font-weight: 400;
	color: #484848;
	cursor: pointer;
	font-size: 14px;
}

.main-home-search .search-result-drop-down .result-list .search-result-item i {
	color: #35454D;
}

.main-home-search .search-result-drop-down .result-list .search-result-item:hover {
	background: #f8f8f8;
}

/********************************************************/
/*                        PAGE HERO                     *
/********************************************************/
.page-hero {
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;
	background: transparent;
	height: 560px;
	text-align: right;
}

.page-hero.sm {
	height: 280px;
}

.page-hero.sm .parallax-holder {
	height: 280px;
}

.page-hero.no-overflow {
	overflow: initial;
}

.page-hero .hero-title {
	font-size: 70px;
	line-height: normal;
}

.page-hero .parallax-holder {
	display: block;
	width: 100%;
	height: 560px;
	overflow: hidden;
	position: absolute;
}

.page-hero.overlay:after {
	content: "";
	background: linear-gradient(-165deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.99));
	top: 0;
	left: 0;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}

.page-hero.overlay.overlay-blue:after {
	background: linear-gradient(0deg, rgba(0, 155, 255, 0) 40%, #1063cc 100%);
}

.page-hero .overlay-text {
	position: absolute;
	float: left;
	display: block;
	text-align: left;
	width: 100%;
	height: 100%;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	bottom: 0;
	z-index: 1000;
	color: #fff;
}

.page-hero .overlay-text i, .page-hero .overlay-text .btn {
	text-shadow: none;
}

.page-hero .overlay-text h1, .page-hero .overlay-text p {
	color: #fff;
}

.page-hero .overlay-text.full-h .container {
	height: 560px;
}

.page-hero .overlay-text.full-h .container .row {
	height: 560px;
}

.page-hero .overlay-text.full-h .container .row .col- * {
	height: 560px;
}

.page-hero .bg-parallax {
	max-height: 240px;
	object-fit: cover;
	object-position: bottom;
	width: 100%;
	margin-top: -10%;
}

.page-hero .left-bottom {
	z-index: 1000;
	position: absolute;
	left: 16px;
	bottom: 24px;
}

.page-hero .top-right {
	z-index: 1000;
	position: absolute;
	right: 16px;
	top: 24px;
}

/********************************************************/
/*                        SECTION                       *
/********************************************************/
.section {
	padding: 64px 0;
}

.section.grey {
	background: #F8F8F8;
}

.section.img {
	background: fixed center;
	background-size: cover;
	position: relative;
}

.section.img .container {
	z-index: 20;
	position: relative;
}

.section.img:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	z-index: 1;
}

.section.md {
	padding: 40px 0;
}

.section.sm {
	padding: 16px 0;
}

.section.page-top-bar {
	padding: 16px 0;
	border-bottom: 1px solid #EBEDED;
}

/********************************************************/
/*                      LISTING CARDS                   *
/********************************************************/
.list-card {
	width: 100%;
	margin: 16px 0;
	display: inline-block;
}

.list-card .img {
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.06);
	overflow: hidden;
	border-radius: 3px;
	background: #D8D8D8;
	display: block;
	height: 200px;
	margin-bottom: 8px;
}

.list-card .img img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 200px;
}

.list-card .info {
	margin: 8px 0;
}

.list-card .info .title {
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
}

.list-card .info .descrtiption {
	font-size: 14px;
	color: #70707a;
}

.travel-photos-list-card {
	width: 100%;
	margin: 16px 0;
	display: inline-block;
}

.travel-photos-list-card .img {
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.06);
	overflow: hidden;
	background: #D8D8D8;
	display: block;
	height: 200px;
	margin-bottom: 8px;
}

.travel-photos-list-card .img img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 200px;
}

/********************************************************/
/*                        WIDGET                        *
/********************************************************/
.widget {
	margin: 32px 0;
	border: 1px solid #EBEDED;
	border-radius: 4px;
	background: #fff;
}

.widget.w600 {
	max-width: 600px;
}

.widget.sm .header {
	padding: 16px 16px;
}

.widget.sm .body {
	padding: 16px 16px;
}

.widget .header {
	padding: 16px 32px;
}

.widget .header .title {
	font-size: 18px;
	font-weight: 600;
}

.widget .body {
	padding: 16px 32px;
}

.sidebar-widget {
	margin: 8px 0;
}

.sidebar-widget .title {
	font-size: 16px;
	color: #35454D;
	font-weight: 500;
	margin-bottom: 8px;
	margin-top: 16px;
	text-transform: capitalize;
}

.sidebar-widget .list-items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-widget .list-items .list-items-item {
	display: flex;
	align-items: center;
}

.sidebar-widget .list-items .list-items-item .info {
	display: flex;
	flex-direction: column;
}

.sidebar-widget .list-items .list-items-item .info .title {
	font-size: 11px;
	max-width: 130px;
	margin: 0;
}

.sidebar-widget .list-items .list-items-item img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	object-position: center;
}

.sidebar-widget .list-items .list-items-item i {
	margin-right: 8px;
}

/********************************************************/
/*                        ICHECK                        *
/********************************************************/
.i-check {
	width: 20px;
	height: 20px;
	line-height: 18px;
	top: 2px;
}

/********************************************************/
/*                        MODAL                         *
/********************************************************/
.modal-backdrop.show {
	opacity: .7;
}

.modal .modal-content {
	border: 0;
	border-radius: 0;
}

/********************************************************/
/*                      BREADCRUMB                      *
/********************************************************/
.breadcrumb {
	background: transparent;
	padding: 0;
}

.page-hero .breadcrumb .breadcrumb-item a {
	color: #fff;
}

.page-hero .breadcrumb .breadcrumb-item.active {
	color: rgba(255, 255, 255, 0.5);
}

.page-hero .breadcrumb .breadcrumb-item:before {
	color: #fff;
}

/********************************************************/
/*                        BLOG                          *
/********************************************************/
.blog-card {
	margin: 16px 0;
	cursor: pointer;
}

.blog-card .post-img {
	width: 100%;
	height: 200px;
	margin-bottom: 16px;
}

.blog-card .post-img img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: center;
}

.blog-card .post-title {
	margin-bottom: 8px;
}

.blog-card .post-info {
	display: flex;
	align-items: center;
	font-size: 11px;
}

.blog-card .post-info .post-date {
	flex: 0.5;
}

.blog-card .post-info .post-number-of-comments {
	flex: .5;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.blog-card .post-info .post-number-of-comments .comment-icon {
	width: 14px;
	height: 14px;
	opacity: .7;
	background: url(../icons/comments.svg) no-repeat center;
	background-size: contain;
	margin-right: 8px;
}

.blog-comments-list .blog-comment {
	border: 1px solid #EBEDED;
	border-radius: 0 20px 20px;
	margin: 8px 0;
	padding: 16px;
}

.blog-comments-list .blog-comment .media-body .blog-comment {
	background: #EBEDED;
}

.blog-comments-list .blog-comment h5 {
	font-size: 14px;
}

.blog-comments-list .blog-comment .comment-author {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

.blog-comments-list .blog-comment .blog-comment-content {
	font-size: 14px;
}

.blog-comments-list .blog-comment .comment-like-btn {
	color: #DB2630;
}

/********************************************************/
/*                    BOOKING HISTORY                   *
/********************************************************/
.booking-history {
	width: 100%;
	padding-left: 24px;
	margin-bottom: 24px;
	border-left: 2px solid #EBEDED;
	position: relative;
}

.booking-history .booking-history-list-card {
	position: relative;
	padding: 16px;
	border-radius: 4px;
	margin: 8px 0;
	display: flex;
	align-items: start;
	transition: all ease 250ms;
	cursor: pointer;
}

.booking-history .booking-history-list-card .details-info {
	flex: 1;
}

.booking-history .booking-history-list-card .details-info .cost {
	font-size: 30px;
}

.booking-history .booking-history-list-card .details-info .cost .small {
	font-size: 11px;
}

.booking-history .booking-history-list-card .details-info .location {
	font-size: 11px;
}

.booking-history .booking-history-list-card .details-info .title {
	font-size: 18px;
}

.booking-history .booking-history-list-card .type-text {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 600;
}

.booking-history .booking-history-list-card:before {
	content: "";
	width: 10px;
	height: 10px;
	background: #00A1F3;
	border-radius: 50%;
	display: block;
	position: absolute;
	left: -31px;
	top: 50%;
	margin-top: -5px;
}

.booking-history .booking-history-list-card.hotel:before {
	background: #00A1F3;
}

.booking-history .booking-history-list-card.hotel .type-text {
	color: #00A1F3;
}

.booking-history .booking-history-list-card.hotel:hover {
	background: rgba(0, 161, 243, 0.2);
}

.booking-history .booking-history-list-card.flight:before {
	background: #FFBB00;
}

.booking-history .booking-history-list-card.flight .type-text {
	color: #FFBB00;
}

.booking-history .booking-history-list-card.flight:hover {
	background: rgba(255, 187, 0, 0.2);
}

.booking-history .booking-history-list-card.experince:before {
	background: #DB2630;
}

.booking-history .booking-history-list-card.experince .type-text {
	color: #DB2630;
}

.booking-history .booking-history-list-card.experince:hover {
	background: rgba(219, 38, 48, 0.2);
}

/********************************************************/
/*                       HOTEL                          *
/********************************************************/
.hotel-facilities {
	padding: 4px 16px;
	margin: 8px 0;
	border-radius: 4px;
	transition: all ease 250ms;
	border: 1px solid #EBEDED;
	cursor: pointer;
}

.hotel-facilities:hover {
	background: rgba(235, 237, 237, 0.7);
}

.hotel-facilities i {
	margin-right: 8px;
}

.hotel-list-card {
	background: #fff;
	margin: 24px 0;
	border: 1px solid #EBEDED;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	transition: all ease 250ms;
}

.hotel-list-card:hover {
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.hotel-list-card:nth-child(1) {
	margin-top: 0;
}

.hotel-list-card .hotle-cover-img-box {
	position: relative;
	width: 100%;
	height: 100%;
}

.hotel-list-card .hotle-cover-img-box .wish-btn {
	position: absolute;
	right: 16px;
	top: 16px;
	cursor: pointer;
}

.hotel-list-card .hotle-cover-img-box .wish-btn.check i {
	color: #DB2630;
	opacity: 1;
}

.hotel-list-card .hotle-cover-img-box .wish-btn i {
	pointer-events: none;
	font-size: 25px;
	opacity: .6;
	color: black;
	text-shadow: 0 2px #fff, 2px 0 #fff, -2px 0 #fff, 0 -2px #fff;
}

.hotel-list-card .hotle-cover-img-box .hotel-cover-img {
	width: 100%;
	height: 100%;
	min-height: 187px;
	margin: 0;
	object-fit: cover;
	object-position: center;
	padding: 0;
}

.hotel-list-card .hotel-location {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #888;
	margin: 8px 0;
}

.hotel-list-card .hotel-description {
	font-size: 12px;
	margin: 8px 0;
}

/********************************************************/
/*                     LOGIN FORM                        *
/********************************************************/
.login-form, .register-form, .reset-password-form {
	padding: 32px;
}

.login-form .title, .register-form .title, .reset-password-form .title {
	margin-bottom: 32px;
}

.login-form .icon, .register-form .icon, .reset-password-form .icon {
	height: 20px;
}

/********************************************************/
/*                    USER  PROFILE                      *
/********************************************************/
.edit-profile-img {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
}

.edit-profile-img .profile-img {
	width: 160px;
	height: 160px;
	object-fit: cover;
	object-position: center;
}

.profile-user-profile-img {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
}

.profile-user-profile-img img {
	width: 160px;
	height: 160px;
	object-fit: cover;
	object-position: center;
}

/********************************************************/
/*                      REVIEW                          *
/********************************************************/
.review-star-rate {
	display: flex;
	color: rgba(0, 0, 0, 0.1);
}

.review-star-rate .rate.full i {
	color: #FFBB00;
}

.review-star-rate.md .rate i {
	font-size: 16px;
}

.review-star-rate.small .rate i {
	font-size: 12px;
}

/********************************************************/
/*                      FAQ                              *
/********************************************************/
.faq-list .faq-section-title {
	font-size: 24px;
	margin: 16px 0;
	text-transform: capitalize;
	font-weight: 600;
}

.faq-list .card {
	border-radius: 0;
	border: 1px solid #EBEDED;
	margin: 8px 0;
}

.faq-list .card .card-header {
	background: #f4f4f4;
	border-radius: 0;
	border: 0;
}

/********************************************************/
/*                      FOOTER                           *
/********************************************************/
footer {
	padding: 80px 0 30px 0;
	background: #fff;
	color: #484848;
	border-top: 1px solid #EBEDED;
}

footer .footer-title {
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 8px;
}

footer .footer-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

footer .footer-nav .footer-nav-item {
	padding: 0;
	margin-bottom: 8px;
}

footer .footer-nav .footer-nav-item a.footer-link {
	color: #484848;
}

footer .footer-download-app .title {
	font-size: 14px;
	text-transform: capitalize;
}

footer .footer-download-app .stores {
	display: flex;
}

footer .footer-download-app .stores .store {
	margin: 8px;
}

footer .footer-download-app .stores .store:nth-child(1) {
	margin-left: 0;
}

footer .footer-payment-methods .title {
	font-size: 14px;
	text-transform: capitalize;
}

footer .footer-payment-methods .payments {
	display: flex;
}

footer .footer-payment-methods .payments .payment {
	margin: 8px;
}

footer .footer-payment-methods .payments .payment:nth-child(1) {
	margin-left: 0;
}

footer .social-network {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

footer .social-network li {
	padding: 4px;
}

footer .social-network li a {
	color: rgba(72, 72, 72, 0.6);
}

footer .social-network li a i {
	font-size: 23px;
}

/*# sourceMappingURL=style.css.map */
